@import "seattletimes";

@accent: rgb(189, 0, 41);

@wide: ~"(min-width: 1000px)";

a {
	text-decoration: underline;
}

.constrained {
	margin: auto;
	max-width: 800px;
	padding: 0 16px;
}

header.splash{

	h2 {
		padding: 0 16px 30px;
	}

	.image-container {
		padding: 15vh 16px;
		background: black;
		margin: 40px 0;

		@media @wide {
			padding: 10vh 16px;
		}

		@media @mobile {
			padding: 60px 8px;
		}

		img {
			width: 1920px;
			margin: auto;
			display: block;
		}
	}

	.byline {
		list-style-type: none;
		font-size: 16px;
		font-family: @df-sans;

		@media @wide {
			li {
				display: inline-block;

				&:not(:first-child)::before {
					content: "•";
					margin: 0 8px;
				}
			}
		}

		.name {
			color: @df-dark-gray;
		}
	}
}

@keyframes fade {
	from { opacity: 0 }
	to { opacity: 1 }
}

@keyframes slide {
	from { height: 0% }
	to { height: 100% }
}

aside.sidebar {
	float: right;
	max-width: 300px;
	padding: 20px 20px 40px;
	font-family: @df-sans;
	color: white;
	background: @df-dark-gray;
	margin-bottom: 20px;

	a {
		color: @df-light-gray;
	}

	hr {
		background: @df-middle-gray;
		margin: 20px auto;
		border-radius: 4px;
		height: 3px;
	}

	@media @wide {
		margin: 0px -100px 40px 20px;
	}

	@media @mobile {
		float: none;
		max-width: 100%;
		margin: 20px 0;
		background: @df-light-gray;
		color: @df-dark-gray;

		a {
			color: @df-off-black;
		}
	}
}

.portrait {
	margin: 40px auto;
	max-width: 1600px;
	clear: both;

	img {
		display: block;
		margin: auto;
		width: 100%;
	}

	.caption{
		background-color: black;
		color: white;
		font-family: @df-sans;
		font-size: 17px;
		padding: 16px;
	}

	.container {
		position: relative;
		max-width: 800px;
		margin: auto;
		// border-left: 6px solid rgb(189, 0, 41);
		padding-left: 16px;
		// animation: 4s fade;
	}

	.text {
		@media @mobile {
			font-size: 16px;
		}
	}

	.border-line {
		position: absolute;
		top: 0;
		left: 0;
		background: @accent;
		width: 6px;
		height: 100%;
	}

	.javascript & {
		.text {
			opacity: 0;
		}

		.border-line {
			height: 0%;
		}

		.caption.seen {
			.text {
				animation: 1s fade 1s linear both;
			}

			.border-line {
				animation: 1s slide both;
			}
		}
	}
}

main.content {
	em {
		font-weight: bold;
		color: @accent;
		font-style: normal;
		font-size: 120%;
	}
}

hr {
	max-width: 200px;
	width: 50%;
	height: 6px;
	background: @df-dark-gray;//@accent;
	border: none;
	margin: 40px auto;
}

footer.tagline {
	font-family: @df-sans;
	padding: 0px 16px 40px;
}