<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <%= t.include("partials/_nav.html") %>
    <%= t.include("partials/_ad.html", {type: "banner"}) %>
    <header class=splash>

      <h1 class="image-container">
        <img src="./assets/photos/ustoo-header.jpg" alt="Us Too">
      </h1>
      
      
      <h2 class="constrained">
        Seattle-area women reflect on the cultural risks and benefits of sharing their #MeToo stories
      </h2>
      
      <ul class="byline constrained">
        <li> By <a class="name" href="https://www.seattletimes.com/author/tyrone-beason/">Tyrone Beason</a>
        <li> Photos by <a class="name" href="https://www.seattletimes.com/author/erika-schultz/">Erika Schultz</a>
        <li> Development by Emily Eng and Thomas Wilburn
      </ul>
    </header>

    
    <main class="content">

      <div class="constrained">
        <aside class="sidebar facebook-live">
          Join Tyrone Beason and some of the women from this article in a special Facebook Live event: <a href="https://www.facebook.com/seattletimes/videos/10156113594206215/">Friday, April 6 at noon</a>
          <hr>
          The backstory: <a href="https://www.seattletimes.com/pacific-nw-magazine/the-backstory-the-story-behind-us-too/">The story behind 'Us Too'</a>
          <hr>
          Read more about <a href="https://www.seattletimes.com/tag/reckoning/">The Reckoning</a>, our series on the #MeToo movement
        </aside>
        <%= t.renderMarkdown(archieml.story.part1) %>
      </div>

      <%= t.include("_portrait.html", { filename: "bharoocha", caption: "bharoocha", name: "Haleema Bharoocha" }) %>

      <div class="constrained">
        <%= t.renderMarkdown(archieml.story.part1b) %>
      </div>

      <%= t.include("_portrait.html", { filename: "cortes", caption: "cortes", name: "Marcela Cortes" }) %>

      <div class="constrained">
        <%= t.renderMarkdown(archieml.story.part2) %>
      </div>

      <%= t.include("_portrait.html", { filename: "jha", caption: "jha", name: "Sonora Jha" }) %>

      <div class="constrained">
        <%= t.renderMarkdown(archieml.story.part3) %>
      </div>

      <%= t.include("_portrait.html", { filename: "siddick", caption: "siddick", name: "Salma Siddick" }) %>

      <div class="constrained">
        <%= t.renderMarkdown(archieml.story.part4) %>
      </div>

      <%= t.include("_portrait.html", { filename: "askini", caption: "askini", name: "Danni Askini" }) %>

      <div class="constrained">
        <%= t.renderMarkdown(archieml.story.part5) %>
      </div>

      <%= t.include("_portrait.html", { filename: "black_horse", caption: "black_horse", name: "Bree Black Horse" }) %>

      <div class="constrained">
        <%= t.renderMarkdown(archieml.story.part6) %>
      </div>

      <%= t.include("_portrait.html", { filename: "prom", caption: "prom", name: "Annika Prom" }) %>

    </main>

    <hr>

    <footer class="tagline constrained">
      <p>Tyrone Beason is a Pacific NW magazine staff writer. Reach him at <a href="mailto:tbeason@seattletimes.com">tbeason@seattletimes.com</a> or 206-464-2251. </p>
      <p>Erika Schultz is a Seattle Times staff photographer.</p>
    </footer>

    <%= t.include("partials/_navBottom.html") %>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
