<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <%= t.include("partials/_nav.html") %>
    <%= t.include("partials/_ad.html", {type: "banner"}) %>
    <header class=splash>

      <h1 class="image-container">
        <img src="./assets/photos/ustoo-header.jpg" alt="Us Too">
      </h1>
      
      
      <h2 class="constrained">
        Seattle-area women reflect on the cultural risks and benefits of sharing their #MeToo stories
      </h2>
      
      <ul class="byline constrained">
        <li> By <a class="name">Tyrone Beason</a>
        <li> Photos by <a class="name">Erika Schultz</a>
        <li> Development by <a class="name">Emily Eng</a> and <a class="name">Thomas Wilburn</a>
      </ul>
    </header>

    
    <main class="content">

      <div class="constrained">
        <aside class="sidebar facebook-live">
          Join Tyrone Beason and some of the women from this article in a special Facebook Live event: <a href="">Friday, April 6 at XXPM</a>
        </aside>
        <%= t.renderMarkdown(archieml.story.part1) %>
      </div>

      <%= t.include("_portrait.html", { filename: "bharoocha", caption: "bharoocha" }) %>

      <div class="constrained">
        <%= t.renderMarkdown(archieml.story.part1b) %>
      </div>

      <%= t.include("_portrait.html", { filename: "cortes", caption: "cortes" }) %>

      <div class="constrained">
        <%= t.renderMarkdown(archieml.story.part2) %>
      </div>

      <%= t.include("_portrait.html", { filename: "jha", caption: "jha" }) %>

      <div class="constrained">
        <%= t.renderMarkdown(archieml.story.part3) %>
      </div>

      <%= t.include("_portrait.html", { filename: "siddick", caption: "siddick" }) %>

      <div class="constrained">
        <%= t.renderMarkdown(archieml.story.part4) %>
      </div>

      <%= t.include("_portrait.html", { filename: "askini", caption: "askini" }) %>

      <div class="constrained">
        <%= t.renderMarkdown(archieml.story.part5) %>
      </div>

      <%= t.include("_portrait.html", { filename: "black_horse", caption: "black_horse" }) %>

      <div class="constrained">
        <%= t.renderMarkdown(archieml.story.part6) %>
      </div>

      <%= t.include("_portrait.html", { filename: "prom", caption: "prom" }) %>

    </main>

    <%= t.include("partials/_navBottom.html") %>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
